@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb;
  min-height: 100vh;
}

.font-brand {
  font-family: 'Baloo 2', sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-left {
  animation: marquee-left 25s linear infinite;
  width: max-content;
}

.marquee-left:hover {
  animation-play-state: paused;
}